[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%Cgreen%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[color]
	;status = false
[core]
	editor = vim
	autocrlf = input
[color "diff"]
	meta = blue  bold
	old = "yellow "
[color "status"]
	updated = "cyan bold "
	changed = "cyan "
	untracked = cyan
[gui]
	encoding = UTF-8
[user]
	name = lan
	email = lanzhengxian@gmail.com
[http]
	sslVerify = false
